<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assistant Web Interface</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <img src="/static/img.png" alt="Logo" style="max-width: 200px; display: block; margin-left: auto; margin-right: auto;"/>

        <h1>Ask the Assistant </h1>
        <form action="/ask/" method="post">
            <label for="prompt">Prompt:</label>
            <input type="text" id="prompt" name="prompt" required>
            <button type="submit">Submit</button>
        </form>

        {% if response %}
            <div id="response">
                <h2>Response:</h2>
                <p>{{ response }}</p>
                <h2>Citations:</h2>
                <p>{{ citations | join('<br>') }}</p>
            </div>
        {% endif %}
    </div>
</body>
</html>
